<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">    
    {% block styles %}
    {% endblock %}
    <title>ShopMaster</title>
</head>
<body>
    <header>
        <nav class="nav-extended lime darken-2">
            <div class="nav-wrapper">
              <a href="{{ url_for('get_items') }}" class="brand-logo">
                <i class="material-icons prefix white-text  darken-2">local_mall</i>ShopMaster</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% if not session.user %}
                <li><a href="{{ url_for('main_page') }}">About</a></li>  
                {% endif %}
                {% if session.user %}
                <li><a href="{{ url_for('get_items') }}">Your List</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_item') }}">New List</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
            
            </div>
          </nav>
        <!--mobile-->
          <ul class="sidenav" id="mobile-demo">
            
            <li><h4 class="center-align white-text lime darken-2">
                <i class="material-icons prefix white-text  darken-2">local_mall</i>ShopMaster</h4></li>
                {% if not session.user %}
                <li><a href="{{ url_for('main_page') }}">About</a></li>  
                {% endif %}
                {% if session.user %}
                <li><a href="{{ url_for('get_items') }}">Your List</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_item') }}">New List</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
          </ul>
          
    </header>


    
          <section>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h4 class="center-align white lime darken-2">{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
            
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>       
        
        <div>
        <!-- Footer -->
        {% if is_footer %}
        <footer class="page-footer white-text lime darken-2">
          <div class="container">
            © {{ current_year }} ShopMaster<br>
          </div>
        </footer>
        {% endif %}
      </div>

      
      <footer class="page-footer white-text lime darken-2">
      
        <div class="container">
            ©2023 ShopMaster</a>
            <br>
        </div>

</footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>