{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align lime-text darken-2">Change Password</h3>
      <form method="POST" action="{{ url_for('change_password') }}">
        <div class="input-field">
          <i class="material-icons prefix lime-text darken-2">vpn_key_off</i>
          <input
            id="current_password"
            name="current_password"
            type="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate"
            required
          />
          <label for="current_password">Current Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix lime-text darken-2">vpn_key</i>
          <input
            id="new_password"
            name="new_password"
            type="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate"
            required
          />
          <label for="new_password">New Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix lime-text darken-2">vpn_key</i>
          <input
            id="confirm_password"
            name="confirm_password"
            type="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate"
            required
          />
          <label for="confirm_password">Confirm New Password</label>
        </div>
        <div class="row center-align">
          <button type="submit" class="btn prefix white-text lime darken-2">
            Change Password <i class="material-icons right">lock_open</i>
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col s6 left-align">
          <a href="{{ url_for('profile', username=username) }}"
            class="btn prefix white-text lime darken-2">
            <i class="material-icons left">arrow_back</i> Go Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
