{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align lime-text darken-2">Change Email Address</h3>
      <form method="POST" action="{{ url_for('change_email') }}">
        <div class="input-field">
          <i class="material-icons prefix lime-text darken-2">contact_mail</i>
          <input
            id="new_email"
            name="new_email"
            type="email"
            class="validate"
            required
          />
          <label for="new_email">New Email Address</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix lime-text darken-2">vpn_key</i>
          <input
            id="password"
            name="password"
            type="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate"
            required
          />
          <label for="password">Password</label>
        </div>
        <div class="row center-align">
          <button type="submit" class="btn prefix white-text lime darken-2">
            Change Email <i class="material-icons right">contact_mail</i>
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col s6 left-align">
          <a href="{{ url_for('profile', username=username) }}"
          class="btn prefix white-text lime darken-2"">
            <i class="material-icons left ">arrow_back</i> Go Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
