{% extends "base.html" %} {% block content %}

<h3 class="center-align prefix lime-text darken-2">Add Item</h3>

<div class="row card-panel">
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('edit_item', item_id=item._id) }}">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix lime-text darken-2">inventory</i>
        <select id="category_name" name="category_name" class="validate" required>
          <option value="" disabled>Choose Category</option>
          {% for category in categories %} {% if category.category_name == item.category_name %}
          <option value="" disabled selected>--previously selected category--</option>
          {{ category.category_name }}
          </option>
          {% else %}
          <option value="{{- category.category_name -}}">
            {{ category.category_name }}
          </option>
          {% endif %} {% endfor %}
        </select>

        <label for="category_name">Item Category</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix lime-text darken-2">shopping_basket</i>
        <input
          id="item_name"
          name="item_name"
          minlength="3"
          maxlength="50"
          value="{{ item.item_name }}"
          type="text"
          class="validate"
          required
        />
        <label for="item_name">Item Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix lime-text darken-2">chat</i>
        <textarea
          id="comment"
          name="comment"
          minlength="3"
          maxlength="200"
          class="materialize-textarea validate"
          required
        >{{ item.comment }}</textarea>
        <label for="comment">Comment</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix lime-text darken-2">calendar_month</i>
        <input
          id="due_date"
          name="due_date"
          type="text"
          value="{{ item.due_date }}"
          class="datepicker validate"
          required
        />
        <label for="due_date">Due Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <i class="material-icons prefix lime-text darken-2">production_quantity_limits</i>
          <label for="is_urgent">
            {% if item.is_urgent == "on" %}
            <input type="checkbox" id="is_urgent" name="is_urgent" checked />
            {% else %}
            <input type="checkbox" id="is_urgent" name="is_urgent" />
            {% endif %}
            <span class="lever"></span>
            Is Urgent
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a href="{{ url_for('get_items') }}" class="btn-large red">
          Cancel <i class="material-icons prefix white-text darken-2">highlight_off</i>
        </a>
        <button type="submit" class="btn-large prefix white-text lime darken-2">
          Save Item <i class="material-icons prefix white-text darken-2">add_shopping_cart</i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
