{% extends "base.html" %}

{% block content %}
    <div class="main-page">
        <div class="container">
            <h1>Welcome to ShopMaster!</h1>
            <p>ShopMaster is a user-friendly web application designed to help you manage your shopping lists and items efficiently.</p>
            <div class="row">
                <div class="col s12 m12">
                  <div class="card-panel teal prefix white-text lime  darken-2">
                    <span class="white-text">
            <h2>Features</h2>
            <ul>
                <li>- Create and manage your shopping items with ease.</li>
                <li>- Organize your items into categories for better organization.</li>
                <li>- Set due dates and mark items as urgent when needed.</li>
                <li>- Customize your profile and account settings.</li>
                <li>- Admin users can manage categories.</li>
            </ul>
        </span>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12 m12">
      <div class="card-panel teal prefix white-text lime  darken-2">
        <span class="white-text">
            <h2>Getting Started</h2>
            <ul>
                <li>- Register an account or log in if you already have one.</li>
                <li>- Create new shopping items and categorize them.</li>
                <li>- View and manage your items in your profile.</li>
                <li>- Make use of the search functionality to quickly find items.</li>
                <li>- Customize your account settings and update your information.</li>
            </ul>
        </span>
    </div>
  </div>
</div>
<div class="row">
    <div class="col s12 m12">
      <div class="card-panel teal prefix white-text lime  darken-2">
        <span class="white-text">
            <h2>Ready to Get Started?</h2>
            <a href="{{ url_for('login') }}" class="btn prefix orange darken-2 center-align">Log In</a>
            <a href="{{ url_for('register') }}" class="btn prefix purple darken-2 center-align">Register</a>
        </span>
    </div>
  </div>
</div>

{% endblock %}
